.app-title {
	text-align: center;
	font-family: cursive;
	margin: 0;
	padding: 24px 0 8px;
	font-size: 24px;
}
.panel {
	padding: 0 24px;
	margin: 0 auto;
	display: flex;
}
.left-panel {
	flex: 1;
}
.right-panel {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	margin-left: 16px;
	padding-left: 16px;
	flex: 1;
}
@media screen and (max-width: 768px) {
	.panel {
		padding: 0 16px;
	}
	.left-panel {
		flex: 1;
	}

	.right-panel {
		flex: 1;
	}
}
@media screen and (max-width: 1242px) {
	.left-panel {
		flex: 3;
	}

	.right-panel {
		flex: 2;
	}
}
.log {
	height: 400px;
	border-radius: 8px;
	overflow-y: auto;
	background: #141414;
	font-size: 12px;
	line-height: 1.5;
	color: #fff;
	padding: 8px;
}
.log-error {
	color: #f5222d;
}
.log-success {
	color: #52c41a;
}
.sn,
.folder {
	word-wrap: break-word;
	word-break: break-all;
}
